@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    &__contenedor {
        display: flex;
        flex-direction: column;
        background-color:darken(aqua, 15);
        justify-content: space-between;
        text-align: center;
        //padding: 2rem 4rem 2rem 4rem;
    }

    &__titulo {
        color: v.$blanco;
        font-size: 4rem;
        font-weight: 500;
        font-weight: 700;
        text-align: center;
        
    }
}

@media(min-width: 768px){
    .header__contenedor {
        display: flex;
        flex-direction: row;
        background-color: darken(aqua, 10);
        justify-content: space-between;
        align-items: center;
    } 
    .header__titulo {
        padding-left: 4rem;


    } 
}

.navegacion {
    display: flex;
    flex-direction: column;

   &__enlace {
        all: unset;
        color: v.$blanco;
        font-size: 1.8rem;
        padding: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;

        &:hover,
        &--actual {
            background-color: v.$blanco;
            color: v.$negro;
        }
    } 
}

@media(min-width: 1024px){
    .navegacion {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 4rem;
    }
}

