@use 'base/mixins' as m;
@use 'base/variables' as v;

.acciones {
    display: flex;
    justify-content: space-between;

    &--centrar {
        justify-content: center;
    }
    
    &__enlace{
        color: v.$negro;
        font-size: 1.6rem;

        &:hover {
            color: v.$verde;
        }
    }
}